.spacer {
  flex: 1 1 auto;
}

.container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 200px;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 8px;
  height: 100%;
  flex: 1 1 auto;
}

.message {
  padding: 8px;
}

.message > mat-form-field {
  width: 100%;
}
